<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="routesignup()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  <span>Sales Forecasting</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="routelogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
</p>
<div class="login-wrapper" style="width: auto; height: auto;">
  <form >
    <h2>FILE UPLOAD</h2>
    <mat-card class="card">
        <mat-form-field floatPlaceholder="never">
            <input [hidden]="true" (change)="onFileSelect($event)" type="file" accept=".csv" #fileSelect>
            <input readonly matInput [(ngModel)]="filename" placeholder="Select file..."/>
             <button *ngIf="this.file" (click)="deleteFile(); fileSelect.value='';" matSuffix matTooltip="Remove selected file"
                [matTooltipPosition]="'above'" type="button" color="warn" mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
             <button matSuffix mat-icon-button (click)="fileSelect.click();"  matTooltip="Select a file" [matTooltipPosition]="'above'">
             <mat-icon>file_upload</mat-icon>
             </button> 
        </mat-form-field>
        <!-- Numbers -->
        <mat-form-field class="example-full-width">
          <mat-label>Enter the value</mat-label>
          <input type = 'number' matInput placeholder="Min 1" value="0">
        </mat-form-field>
      <!-- Values  -->
      <mat-form-field class="example-full-width">
        <mat-label>Enter Week/Month/Year</mat-label>
        <input type = 'text' matInput  value="Week">
      </mat-form-field>
        <button class="login-btn" (click)="fileUpload()" mat-flat-button style="background-color: #0c3788; color: #ffff; min-height: 40px;" class="login-btn">
        <span *ngIf="!showLoader">Send</span>
        <mat-spinner style="margin-left: 43%;" diameter="25" strokeWidth="4" *ngIf="showLoader"></mat-spinner>
      </button>
      <br>
      <button class="login-btn" (click)="seeCharts()">Go To Charts</button>
    </mat-card>
  </form>
</div>