 
 <div class="login-wrapper">
      <form [formGroup]="login" class="form" >
        <h2>Login</h2>
     
      <div class="input-group">
           <input type="email" placeholder="EmailId" class="cvar" formControlName="email"/>
      </div>
      <div class="input-group">
           <input type="password" placeholder="Password" class="cvar" formControlName="pass"/>
      </div>
           <div class="btns">
                <button (click)="onlogin(login.value)" [disabled]="login.invalid" class="login-btn">Login</button>
                <button (click)="goToSignup()" class="register-btn">SignUp</button>
           </div>
      </form>
      
    </div>