<p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="onback()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    <span>Sales Forecasting</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="routelogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  </p>
  
<mat-card class="example-card" >
  <mat-card-header class="example-header" 
                   style="padding-left: 40%;">
   <!-- <h2><span></span></h2  > -->
  </mat-card-header>
  <mat-card-content>
    <img [src] ="ImagePath" 
          style="width: 600px;height: 400px; margin: auto; display: block;">
          <!-- <img ngSrc="assests/img/plot.jpg"> -->
          <!-- <img src="assests/img/plot.jpg" alt=""> -->
  </mat-card-content>
</mat-card>