<div class="login-wrapper">
    <form action="" class="form">
      <h2>Sign Up</h2>
      <div class="input-group">
        <input type="text" name="uname" id="uname" required />
        <label for="uname">Full Name</label>
      </div>
      <div class="input-group">
        <input type="email" name="mailid" id="mailid" required />
        <label for="mailid">Email</label>
      </div>
      <!-- <div class="input-group">
        <input type="text" name="loginUser" id="loginUser" required />
        <label for="loginUser">User Name</label>
      </div> -->
      <div class="input-group">
        <input
          type="password"
          name="loginPassword"
          id="loginPassword"
          required
        />
        <label for="loginPassword">Password</label>
      </div>
      <div class="input-group">
        <input
          type="password"
          name="repassword"
          id="repassword"
          required
        />
        <label for="loginPassword">Renter Password</label>
      </div>
      <input type="submit" value="Signup" class="submit-btn"  /><br>    

      <a style="color: aliceblue; margin-top: 10px;" routerLink="/login">Have an account? Click to login!</a>
    </form>
   
  </div>